@import './variables.scss';
@import './navigation.scss';
@import './messageForm.scss';
@import './button.scss';
@import './messagesList.scss';
@import './registrWindow.scss';


* {
    color: $dark;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 2%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.chat-wrapper {
    background-color: $lilac;
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
