@import './variables.scss';
@import './navigation.scss';
@import './messageForm.scss';
@import './button.scss';
@import './messagesList.scss';
@import './registrWindow.scss';

* {
    color: $dark;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 2%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.chat-wrapper {
    background-color: #fff;
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    box-shadow: $shadow;
}

.extra-window {
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 15px;
    color: $blue;
    border-top: 1px solid #d4d4d45e;
    border-bottom: 1px solid #d4d4d45e;

    & div {
        color: $blue;
    }
}

.info {
    &_header {
        margin-bottom: 20px;
    }
}

.setting {
   &_header {
        color: $blue;
   }
}

svg {
    width: 40px;
    height: 40px;
}