.logIn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &_window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 1rem;
        background: $yellow;
        opacity: 0.5;
        display: inline-block;
    }

    &_input {
        display: block;
        margin-bottom: 0.7rem;
        border: none;
        padding: 0.5rem;
        border-radius: $borderRadius;

        &:focus {
            outline: 2px auto $blue;
        }
    }

    &_button {
        border: none;
        font-size: 14px;
        padding: 8px 12px;
        border-radius: $borderRadius;
        cursor: pointer;
        background: $blue;
        color:$light-gray;
    }
}
