$light-gray:#d8e4f4;
$lilac:#e4ebfd;
$light-green:#eef5f3;
$blue:#9ec2e6;
$dark:#5c5a67;
$yellow:#f3eb7c;
$authorNameColor:#b7b7b7;

$shadow: 0px 1px 2px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px rgba(0,0,0,0.1), 0px 0.5px 1px 0.25px rgba(0,0,0,0.1);

$borderRadius: 9px;
